<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATM | HOME</title>
    <link rel="stylesheet" href="temp.css">
</head>
<body>
    <header><h1><big><b> Bank Name</b></big></h1></header>
    <nav> <b>
        <a href="#" target="_blank">Home</a>
        
        <a href="#">Checkbook</a>
        <a href="#">Profile</a>
        
        <select name="banking" id="bank" class="bank">
            <option value="banking"> Banking</option>
            <option value="withdraw" class="bank1"><a href="#" class="bank1">Withdraw</a></option>
            <option value="withdraw" class="bank1"><a href="#" class="bank1">Deposit</a></option>
            <option value="withdraw" class="bank1"><a href="#" class="bank1">Balance</a></option>
        </select>
        <a href="#">Contact us</a>
    </b>
    </nav>
    <main>
        <div class="main">
            
            <p class="hello"> Hello!</p>
           <br>
            <p class="m">Information</p>
        </div>
    </main>
    <footer>
       
    </footer>
</body>
</html>