<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ATM | HOME</title>
    <link rel="stylesheet" href="temp1.css" />
  </head>
  <body>
    <header class="show">
      <h1>
        <big><b> Bank Name</b></big>
      </h1>
    </header>

    <nav>
      <b>
        <a href="#" >Home</a>

        <a href="#">Checkbook</a>
        <a href="#">Profile</a>
        <a href="banking.html">Banking</a>
       
        <a href="#">Contact us</a>
      </b>
    </nav>

    <div class="main"></div>
  </body>
</html>
